<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detections</title>
    <div th:replace="head :: header"></div>
</head>
<body>
<div th:replace="navbar :: nav"></div>

<div th:switch="${videoPagination.totalElements}">
    <h2 th:case="0">No videos yet!</h2>
    <br>
    <div th:case="*">
        <div class="card shadow p-3 mb-5 bg-white rounded align-middle col-lg-8" style="margin-left: auto; margin-right: auto;">
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Footage</th>
                        <th>Date and Time</th>
                        <th>General Action</th>
<!--                        <th>Label</th>-->
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="video : ${videoPagination.videos}">
                        <td><img th:src="${video.footage}" width="200"></td>
                        <td th:text="${video.timestamp}"></td>
                        <td th:text="${video.searchedActivity.generalAction.type}"></td>
<!--                        <td th:text="${video.searchedActivity.activityName}"></td>-->
                        <td th:text="${video.score}+'%'"></td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${videoPagination.pageNumber != 0 ? '' : 'disabled'}">
                            <a href="${urlBuilder.replaceQueryParam('page', topicPagination.pageNumber - 1).toUriString()}"
                               th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                               class="page-link">Previous</a>
                        </li>
                        <li class="page-item active" aria-current="page">
                            <span th:utext="'Page <b>'+${videoPagination.pageNumber + 1}+'</b> of <b>'+${videoPagination.totalPages}+'</b>'" class="page-link"></span>
                        </li>
                        <li class="page-item" th:classappend="${videoPagination.pageNumber + 1 < videoPagination.totalPages ? '' : 'disabled'}">
                            <a th:href="${urlBuilder.replaceQueryParam('page', videoPagination.pageNumber + 1).toUriString()}"
                               th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                               class="page-link">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>